.button_slider {
  z-index: 50;
  position: absolute;
  top: 0;
  width: 100px;
  height: 93vh;
  background-color: grey(rgba(123, 118, 118, 0.4));
  opacity: 0.2;
  &:hover {
    opacity: 0.5;
  }
}
